{% extends "base.html" %}
{% block content %}
<link type="text/css" rel="StyleSheet" href="https://bootstraptema.ru/plugins/2016/shieldui/style.css"/>
<script src="https://bootstraptema.ru/plugins/jquery/jquery-1.11.3.min.js"></script>
<script src="https://bootstraptema.ru/plugins/2016/shieldui/script.js"></script>

<!-- График -->

<div id="chart">
<table align="center" width="100%">
 <tr><td>
    <script>
     $(document).ready(function () {
     $("#chart").shieldChart({
     theme: "bootstrap",
     primaryHeader: {
     text: "{{date}}"
     },
     seriesSettings: {
     area: {
     pointMark: {
     enabled: true
     }
     }
     },
     axisX: {
     categoricalValues: {{dates}}
     },
     dataSeries: [{
     seriesType: "area",
     collectionAlias: "Ср. температура",
     data: {{data}}
     }],
     events: {
     legendSeriesClick: function (e) {
     e.preventDefault();
     }
     }
     });
     });
    </script></td>
</tr></table>
</div>


    <p>Данные представлены за {{date}}</p>
 {% endblock %}