{% extends "base.html" %}
{% block content %}
<link type="text/css" rel="StyleSheet" href="https://bootstraptema.ru/plugins/2016/shieldui/style.css"/>
<script src="https://bootstraptema.ru/plugins/jquery/jquery-1.11.3.min.js"></script>
<script src="https://bootstraptema.ru/plugins/2016/shieldui/script.js"></script>

<!-- График -->

<div id="chart">
    <table align="center" width="100%">
        <tr>
            <td>
                <script>
                    $(document).ready(function () {
                    $("#chart").shieldChart({
                    theme: "bootstrap",
                    primaryHeader: {
                    text: "{{date}}"
                    },
                    seriesSettings: {
                    area: {
                    pointMark: {
                    enabled: true
                    }
                    }
                    },
                    axisX: {
                    categoricalValues: {{dates}}
                    },
                    dataSeries: [{
                    seriesType: "area",
                    collectionAlias: "Объем продаж, Л",
                    data: {{data}}
                    }],
                    events: {
                    legendSeriesClick: function (e) {
                    e.preventDefault();
                    }
                    }
                    });
                    });
                </script>
            </td>
        </tr>
    </table>
</div>
<table class="table table-hover">
    <tr>
        <td>ID транзакции</td>
        <td>№ колонки</td>
        <td>Дата/Время</td>
        <td>ID пользователя</td>
        <td>Запрашиваемый обьем, л</td>
        <td>Выданный обьем, л</td>
        <td>
            {% if current_user.is_authenticated and current_user.access > 0 %}
            <a class="btn btn-primary" href="/load_file">Загрузить файл</a>
            {% endif %}
        </td>
    </tr>
    {% for str in table_data: %}
    <tr>
        <td>{{ str[0] }}</td>
        <td>{{ str[1] }}</td>
        <td>{{ str[2] }}</td>
        <td>{{ str[3] }}</td>
        <td>{{ str[4] }}</td>
        <td>{{ str[5] }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}